@media  (max-width:640px) {
    .container{
        
        display: flex;
        justify-content: center;
        margin: 0%;
    }
    .Slink{
        height: 2rem;
        width: 2rem;
        gap:5px;
        font-size: 0.5rem;
    }
}